body {
    font-family: 'Lato', sans-serif;
    color: #323303;
    font-weight: 300;
    background-color: #999ea8;
}

hr {
    border-bottom: 5px;

}

.text-muted {
    color: #3a0d0d;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
}

.img-hover {
    cursor: pointer;
}

.contact-info {
    font-size: 15px;
}

.modal-img {
    width: 50%;
    height: 50%;
}

.project-link {
    font-size: 12px;
}

@media screen and (min-width: 992px) {
    .bio-desc{
        font-size: 20px
    }

    .self-img {
        width: 80%;
        height: 80%;
        border-radius: 50%;
    }

    .title-super {
        font-size: 60px;
        text-align: right;
    }
    
}

@media screen and (max-width: 991px) {
    .bio-desc{
        font-size: 18px
    }

    .self-img {
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }

    .title-super {
        font-size: 45px;
    }

    .title-super {
        font-size: 60px;
        text-align: right;
    }

    .project-img {
        width: 40%;
        height: auto;
    }
}

@media screen and (max-width: 715px) {
    .title-super {
        font-size: 50px;
        font-size: 1vm;
        text-align: right;
    }
    
}

.footer-contact {
    margin-bottom: 30px;
}